.menu {
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 95%;
  z-index: 9999;
}
.menu div button {
  background-color: #60346b;
  border: 1px solid #231327 !important;
  display: block;
}
a {
  text-decoration: none !important;
  color: white !important;
}
